# Example 1

In [1]:
employee_data = ['Ali', 125000, 'Google', 5]
print(f"{employee_data[0]} is working in {employee_data[2]} for {employee_data[3]} years and his salary is {employee_data[1]}")

# output: 'Ali is working in Google for 5 years and his salary is 125000'

Ali is working in Google for 5 years and his salary is 125000

# OR

In [2]:
employee_data = ['Ali', 125000, 'Google', 5]
print("{0} is working in {1} for {2} years and his salary is {3} ".format(employee_data[0],employee_data[2], employee_data[3],employee_data[1]))

Ali is working in Google for 5 years and his salary is 125000

# OR

In [3]:
employee_data = ['Ali', 125000, 'Google', 5]
print(employee_data[0] + " is working in " + employee_data[2]+ " for " +f"{employee_data[3]}"+ " years and his salary is "+ str(employee_data[1]))

# output: 'Ali is working in Google for 5 years and his salary is 125000'

Ali is working in Google for 5 years and his salary is 125000

# Example 2

In [4]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
print(f"Hello {studentData[0]} {studentData[1]},\nYour application is accepted for admission in {studentData[4]} {studentData[3]} in {studentData[2]} You have to submit {studentData[5]} before {studentData[6]}.Your classes will start from {studentData[7]}.Thanks.")#  output:
# 'Hello Ahmed Bilal,
# Your application is accepted for admission in "BS Computer Science" in Government College University.
# You have to submit fee 50000 before 28 January 2020.
# Your classes will start from 05 February 2020.
# Thanks'

Hello Ahmed Bilal,
Your application is accepted for admission in BS Computer Science in Government College University You have to submit 50000 before 28 Januray 2020.Your classes will start from 05 February 2020.Thanks.

In [5]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
print("Hello " + studentData[0] + studentData[1]+",\nYour application is accepted for admission in " + studentData[4] +" "+ studentData[3] + "in " + studentData[2] + " You have to submit " + str(studentData[5]) + " before " + studentData[6] + ". Your classes will start from " +studentData[7] + ". Thanks. ")

Hello AhmedBilal,
Your application is accepted for admission in BS Computer Sciencein Government College University You have to submit 50000 before 28 Januray 2020. Your classes will start from 05 February 2020. Thanks.

In [6]:
a = input("enter your name  ")
print(a[::-1])

enter your name  mudassar
rassadum

In [7]:
for x in range(1, 6):
    print(str(x)*x)

1
22
333
4444
55555

# Slicing

In [8]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
cities[0:4]
# Outputs:
# (For positive slicing)
# 1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [9]:
cities[2:6]
# 2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [10]:
cities[5:8]
# 3. ["Sahiwal", "Rawalpindi", "Sialkot"]

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [11]:
cities[-4:-1]
# cities[-4:7]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [12]:
cities[-5:8]
# OR
# cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Update List

## append

In [13]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
# Add values to this list using `append`

In [14]:
studentData.append("20 February 2019")
studentData
# 1. '20 February 2019'

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019']

In [15]:
studentData.append(8)
studentData
# 2. 8

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

## Insert

In [16]:
studentData.insert(4, 25000)
studentData
# Use `insert` method to insert at specific index
# ```
# 1. 25000 at index 4

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [17]:
studentData.insert(1, "M. Iqbal")
studentData
# 2. 'M. Iqbal' at index 1

['Ali Raza',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

## Updating List

In [18]:
studentData[0] = "Zohaib Ali"
studentData
# Update list using list update method:
# 1. Change Name from 'Ali Raza' to 'Zohaib Ali'

['Zohaib Ali',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [19]:
studentData.index(5)
# 2. Change No of subjects from 5 to 7

6

In [20]:
studentData[6] = 7
studentData

['Zohaib Ali',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

## Remove using remove

In [21]:
studentData.remove("Computer Science")
studentData
# Remove values from list using `remove` method
# 1. 'Computer Science'

['Zohaib Ali',
 'M. Iqbal',
 22,
 91.24,
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [22]:
studentData.remove(91.24)
studentData
# 2. 91.24

['Zohaib Ali',
 'M. Iqbal',
 22,
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

## Remove using pop

In [23]:
studentData.pop()
# Remove using `pop` method
# 1. Last value from list

8

In [24]:
studentData.pop(3)
# 2. value at 3rd index

25000

# Multidimensional list tasks

In [25]:
# You have given data of an employee
employeeData = [["Ali", 35000, "Software Engineer"],["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"],["Khalid", 44000, "DBA"]]

## For loop tasks

In [26]:
for x in employeeData:
    if x[1] >= 50000:
        print(x[0])
# 1. Print name of employees with salaray greater than 50000.

Talha
Nasir

In [27]:
total_salary_in_employeeData = employeeData[0][1] + employeeData[1][1] + employeeData[2][1] + employeeData[3][1]
total_salary_in_employeeData

213000

### OR

In [28]:
total_salary = 0
for total in employeeData:
    total_salary += total[1]
total_salary
# 2. Calculate total salary of all employees.

213000

## List update tasks

In [29]:
employeeData[2][1] = 90000
employeeData[2]
# 1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"

['Nasir', 90000, 'Computer Engineer']

In [30]:
employeeData[3]
# 2. Change salary of Khalid to 50000

['Khalid', 44000, 'DBA']

In [31]:
employeeData[3][1] = 50000
employeeData[3]

['Khalid', 50000, 'DBA']

## Login User

In [35]:
# You have given some users data. You have to write a script to check if username and password are correct. 
# If `username` and `password` are correct. Then you have to check if email is verified or not. 
# If it is verified then print `Login Succeed` else print `Email not verified`. 
# If username or password are incorrect you have to print `Incorrect Login details`
# # Data 1
# username = "faizan1214"
# password = "qwerty"
# emailVerified = False

# # Data 2
# username = "faizan1214"
# password = "qwerty"
# emailVerified = True
username = input("enter username ")
password = input("enter password ")
user_data = ["a","1",True,"b","2",False, "c", "3", True]
for x in user_data:
    if username in user_data:
        if password in user_data:
            x = user_data.index(username)
            y = user_data.index(password)
            z = y + 1
            if x % 3 == 0:
                if y%3 == 1:
                    if user_data[z] == True:
                        print("login succeed")
                        break
                    else:
                        print("user not verified")
                        break
        else:
            print("Incorrect email details")
            break
    else:
        print("Incorrect email details")
        break

enter username f
enter password 4
Incorrect email details